<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BorrowNlend.LinqToSql.Dbml.Properties.Settings.BorrowNlendConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=BorrowNlend;User ID=sa;Password=sasa2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>