<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BorrowNlendModelContainer" connectionString="metadata=res://*/BorrowNlendModel.csdl|res://*/BorrowNlendModel.ssdl|res://*/BorrowNlendModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=BorrowNlend;User ID=sa;Password=sa2013;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>